{{- $body := replaceRE "(?s)^---.*?---\\r?\\n" "" .raw -}}
{{- $remoteSite := replaceRE "/$" "" .siteURL -}}
{{- $body = replace $body "<!--more-->" "__SAMPTA_MORE__" -}}
{{- $body = replaceRE "(?s)<!--.*?-->" "" $body -}}
{{- if .summaryOnly -}}
  {{- $parts := split $body "__SAMPTA_MORE__" -}}
  {{- $body = index $parts 0 -}}
{{- else -}}
  {{- $body = replace $body "__SAMPTA_MORE__" "" -}}
{{- end -}}
{{- /* Keep the remote repo workflow, but strip obviously dangerous HTML before rendering. */ -}}
{{- range (slice "script" "iframe" "object" "embed" "form" "input" "button" "textarea" "select" "meta" "link" "base") -}}
  {{- $body = replaceRE (printf "(?is)<%s\\b[^>]*>.*?</%s>" . .) "" $body -}}
  {{- $body = replaceRE (printf "(?is)<%s\\b[^>]*/?>" .) "" $body -}}
  {{- $body = replaceRE (printf "(?is)</%s>" .) "" $body -}}
{{- end -}}
{{- $body = replaceRE "(?i)\\s+on[a-z-]+\\s*=\\s*(\"[^\"]*\"|'[^']*'|[^\\s>]+)" "" $body -}}
{{- $body = replaceRE "(?i)\\s+srcdoc\\s*=\\s*(\"[^\"]*\"|'[^']*'|[^\\s>]+)" "" $body -}}
{{- $body = replaceRE "(?i)(href|src)\\s*=\\s*['\"]?(javascript:|vbscript:|data:)[^'\"\\s>]*['\"]?" "$1=\"#\"" $body -}}
{{- $html := $body | markdownify -}}
{{- $html = replace $html "src=\"/images/" (printf "src=\"%s/images/" $remoteSite) -}}
{{- $html = replace $html "src='/images/" (printf "src='%s/images/" $remoteSite) -}}
{{- $html = replaceRE "(?i)\\s+on[a-z-]+\\s*=\\s*(\"[^\"]*\"|'[^']*'|[^\\s>]+)" "" $html -}}
{{- $html = replaceRE "(?i)\\s+srcdoc\\s*=\\s*(\"[^\"]*\"|'[^']*'|[^\\s>]+)" "" $html -}}
{{- $html = replaceRE "(?i)(href|src)\\s*=\\s*['\"]?(javascript:|vbscript:|data:)[^'\"\\s>]*['\"]?" "$1=\"#\"" $html -}}
{{- $html | safeHTML -}}
